
<script>
   $(document.body).attr("class", "notransition no-hidden"); 
</script>
<!-- 슬라이드 이미지 들어갈 곳-->
    <div id="hero-container">

                <div id="carouselFull" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselFull" data-slide-to="0" class=""></li>
                                <li data-target="#carouselFull" data-slide-to="1" class=""></li>
                                <li data-target="#carouselFull" data-slide-to="2" class="active"></li>
                                <li data-target="#carouselFull" data-slide-to="3" class=""></li>
                            </ol>
                        <div class="carousel-inner">
                            <div class="item">
                                <img src="/images/prop/4-1.png" alt="First slide" height="600px" width="100%">
                                <div class="container">
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/images/prop/4-3.png" alt="Second slide" height="600px" width="100%">
                                <div class="container">
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="item active">
                                <img src="/images/prop/4-2.png" alt="Third slide" height="600px" width="100%">
                                <div class="container">
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                        <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                    </div>



    
                        
                            
                       
    
    
    
    
    
    
    
    
    
    
    
    
    <!--로고 들어갈 곳-->
    
    <div class="home-header"> 
        <div class="home-logo osLight"> <!--로고--> 뭐한대?</div>
        <a href="#" class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
        <div class="home-nav">
            <ul>
                <li><a href="/culture/explore">공연 모아보기</a></li>
                <li><a href="/culture/pfadd">공연자 모아보기</a></li>

                
                <% unless user_signed_in? %>
                  <li><a href="#" data-toggle="modal" data-target="#signup">가입하기</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#signin">로그인</a></li>
                  <li><a href="#"></a></li>
                <% else %>
                
                  
                  <li><%= link_to "로그아웃", destroy_user_session_path %></li>
                  <% if current_user.typenum == 0 %>
                  <li><a class="btn btn-blue">관객</a></li>
                  
                  <% elsif current_user.typenum == 1 %><li class="btn btn-info">공연팀</li>
                  <% elsif current_user.typenum == 2 %><li class="btn btn-red">관리자</li>
                  
                  <% end %>
                  
                <% end %>
                
                <% unless current_user.nil? %>
                    <% if @user_type != 0 %>
                        <li><a href="/culture/add" class="btn btn-green">공연 등록</a></li>
                    <% end %>
                <% end %>

            </ul>
        </div>
    </div>
    
    

    
</div>

<!--중간 띠 주석처리 div class="highlight">
    <div class="h-title osLight">공연정보를 알아보세요</div>
    <div class="h-text osLight"> 쉽게등록하고 쉽게 홍보하세요</div>
</div-->

<!--내용-->
<div class="highlight">
    <div class="h-title osLight"> 내 주변에는 놀랍도록 많은 문화가 존재하고 있습니다   </div>
    <br> <br> 
    <div class="h-text osLight"> 쉽게 등록하고, 쉽게 정보를 얻을 수 있습니다</div>
</div>

<div class="home-wrapper">
    
    <div class="home-content">
        
        <h2 class="osLight">뭐한대? 소개</h2>
        <div class="row pb40">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                <a href="#">
                    <span class="icon-pointer s-icon"></span>
                    <div class="s-content">
                        <h2 class="s-main osLight">당신 공연의 <br> 위치와 시간만 입력하세요</h2>
                        <h3 class="s-sub osLight">당신의 문화를 많은 사람들에게 알려주세요</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                <a href="#">
                    <span class="icon-users s-icon"></span>
                    <div class="s-content">
                        <h2 class="s-main osLight">다양한 관객들과 <br> 소통하세요</h2>
                        <h3 class="s-sub osLight">더 이상 SNS 친구들만이 관객이 아닙니다 </h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                <a href="#">
                    <span class="icon-home s-icon"></span>
                    <div class="s-content">
                        <h2 class="s-main osLight">집 주변에서 열리는<br> 가장 가까운 문화정보</h2>
                        <h3 class="s-sub osLight">소극장연극,버스킹,대규모 오케스트라 공연까지</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 s-menu-item">
                <a href="#">
                    <span class="icon-cloud-upload s-icon"></span>
                    <div class="s-content">
                        <h2 class="s-main osLight">더 이상 시간과 비용으로<br> 문화생활을 망설이지마세요</h2>
                        <h3 class="s-sub osLight">저렴한 가격과 무료로 느끼는 문화의 감동</h3>
                    </div>
                </a>
            </div>
        </div>
        <br>

        
    </div>
    
    

</div>
        
        

      

<!--내용-->
<div class="home-wrapper">
    <div class="home-content">
        
        <h2 class="osLight">만든 사람들</h2>
        
        <div class="row pb40">
            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-1">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <div class="agent">
                    <a href="/culture/introduce" class="agent-avatar">
                        <img src="/images/avatar-1.png" alt="John Smith">
                        <div class="ring"></div>
                    </a>
                    <div class="agent-name osLight">한양대 경제금융학부<br><br> 배윤성</div>

                    <div class="agent-contact">
                        <a href="http://www.facebook.com/roll2y" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <div class="agent">
                    <a href="/culture/introduce" class="agent-avatar">
                        <img src="/images/avatar-2.png" alt="John Smith">
                        <div class="ring"></div>
                    </a>
                    <div class="agent-name osLight">한양대 경영학부<br><br> 안병주</div>

                    <div class="agent-contact">
                        <a href="http://www.facebook.com/anbj1567" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <div class="agent">
                    <a href="/culture/introduce" class="agent-avatar">
                        <img src="/images/avatar-3.png" alt="John Smith">
                        <div class="ring"></div>
                    </a>
                    <div class="agent-name osLight">한양대 경영학부<br><br> 김민아</div>

                    <div class="agent-contact">
                        <a href="http://www.facebook.com/minabook" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a>
                    </div>
                </div>
            </div>
        

            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <div class="agent">
                    <a href="/culture/introduce" class="agent-avatar">
                        <img src="/images/avatar-4.png" alt="John Smith">
                        <div class="ring"></div>
                    </a>
                    <div class="agent-name osLight">중앙대 컴퓨터공학부<br><br> 박준영</div>

                    <div class="agent-contact">
                        <a href="http://www.facebook.com/carpe0308" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <div class="agent">
                    <a href="/culture/introduce" class="agent-avatar">
                        <img src="/images/avatar-5.png" alt="John Smith">
                        <div class="ring"></div>
                    </a>
                    <div class="agent-name osLight">한양대 소프트웨어학부<br><br> 김도현</div>

                    <div class="agent-contact">
                        <a href="http://www.facebook.com/kdo1002" class="btn btn-sm btn-icon btn-round btn-o btn-facebook"><span class="fa fa-facebook"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-1 col-lg-1">
            </div>
        </div>

        <!-- END 베스트 기대 팀 -->
    </div>
</div>

<!-- Footer -->

<div class="home-footer">
    <div class="home-wrapper">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div class="osLight footer-header">뭐한대? 이야기</div>
                <ul class="footer-nav pb20">
                    <li><a href="/culture/introduce"> 소개 </a></li>

                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div class="osLight footer-header">둘러보기</div>
                <ul class="footer-nav pb20">
                    <li><a href="/culture/explore">공연 모아보기</a></li>
                    <li><a href="/culture/pfadd">공연자 모아보기</a></li>
                    

                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="osLight footer-header">공연 등록하기</div>
                <ul class="footer-nav pb20">

                    <li class="footer-address osLight">
                        <p><a href="/culture/introduce">공연 등록하는 방법</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">© 뭐한대?!, 2015 베타서비스.</div>
    </div>
</div>



<!--로그인 팝업 뜨는거 -->
<div class="modal fade" id="signin" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="signinLabel">로그인</h4>
            </div>
            <div class="modal-body">
                
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: "form") do |f| %>
                <div class="field">
                  <div class="form-group">
                    <%= f.text_field :username, autofocus: true, placeholder: "아이디", class: "form-control"  %>
                  </div>
                </div>
              
                <div class="field">
                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "비밀번호", class: "form-control" %>
                  </div>
                </div>
              
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <div class="form-group">
                      <%= f.check_box :remember_me %>
                      <%= f.label :로그인유지 %>
                    </div>
                  </div>
                <% end %>
              
                <div class="actions">
                  <div class="form-group">
                    <%= f.submit "로그인", class: "btn btn-lg btn-green", style: "width: 100%" %>
                  </div>
                </div>
              <% end %>
              
              
              
            </div>
        </div>
    </div>
</div>



<!--회원가입 뜨는거-->
<div class="modal fade" id="signup" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="signupLabel">회원가입</h4>
            </div>
            <div class="modal-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "sign_up_form"}) do |f| %>
                  <%= devise_error_messages! %>
                
                  <div class="field">
                      <div class="form-group">
                          <%= f.text_field :username, autofocus: true, placeholder: "아이디", class: "form-control" %>
                      </div>
                  </div>
                    
                  <div class="field">
                    <div class="form-group">
                      <%= f.email_field :email, autofocus: true, placeholder: "이메일 주소", class: "form-control" %>
                    </div>
                  </div>

                  <div class="field">
                    <div class="form-group">
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off", placeholder: "비밀번호", class: "form-control" %>
                    </div>
                  </div>
                
                  <div class="field">
                    <div class="form-group">
                      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "비밀번호 확인", class: "form-control" %>
                    </div>
                  </div>
                  <div class="field">
                    <div class="form-group">
                      <%= f.hidden_field :typenum, autocomplete: "off", value: "-1", id: "typenum" %>
                    </div>
                  </div>
                  
                    <div class="field">
                        <div class="form-group"> 
                            <div class="btn-group-justified">
                                <button type="button" class="btn btn-lg btn-yellow" id="select_viewer" style="width: 48%; display: inline;" onclick="setViewer()">관객</button>
                                <button type="button" class="btn btn-lg btn-red" id="select_performer" style="width: 48%; display: inline;" onclick="setPerformer()">공연팀</button>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                  <div class="actions">
                    <div class="form-group">
                      <div class="btn-group-justified">
                          <button type="button" id="submit_button"class="btn btn-lg btn-green" onclick="isSelectedType()" style="width: 100%">회원가입</button>
                      </div>
                    </div>
                  </div>
                  <script>
                        function setViewer(){
                            $('#typenum').attr("value", 0);
                        }
                        function setPerformer(){
                            $('#typenum').attr('value', 1);
                        }
                        function isSelectedType(){
                            if ($('#typenum').val() == "-1"){
                                alert("회원 종류를 선택해주세요. ");
                            }
                            else {
                                $("#submit_button").attr("type", "submit");
                            }
                        }
                    </script>
                <% end %>
                
                
                
                <p class="help-block">이미 회원이세요? <a href="#signin" class="modal-si text-green">로그인</a></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $.when(
        $.getScript('/js/jquery-ui.min.js'),
        $.getScript('/js/jquery-ui-touch-punch.js'),
        $.getScript('/js/jquery.placeholder.js'),
        $.getScript('/js/jquery.touchSwipe.min.js'),
        $.getScript('/js/jquery.visible.js'),
        $.getScript('/js/jquery.tagsinput.min.js'),
        $.Deferred(function( deferred ){
              $( deferred.resolve );
        })
    ).done(function(){
        $.getScript('/js/home.js');
    });
    
});
</script>
